body {
    /* background-image: url('https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
    background-color: rgb(15, 103, 227);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    width: 80%;
    margin: 100px auto;
    background: rgb(220, 227, 12);
    color: #eee;
    font-size: 1.25rem;
}

table.list {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid rgb(190, 24, 24);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thread>tr {
    background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="number"] {
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(161, 165, 165);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #4b99d8;
}

input[type="reset"]:hover {
    background: #4b99d8;
}

button {
    /* background: cornflowerblue; */
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: groove;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    /* outline: none; */
    background-color: darkcyan;
}

button:hover {
    background: #05d008!important;
}

#n {
    position: absolute;
    top: 500px;
    right: 0px;
    background-color: #05d008;
    width: 100%;
}